.bg-light {
    background-color: #17a2b8 !important;
}

.container {
    margin: 0;
    padding-left: 0;
}

.list-group {
    width: 20%;
    float: left;
    height: 100%;
    background-color: #f8f9fa;
}